<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="MeasurementSources.BeamGageInstanceId" value="LaserEnergyMonitor" />
    <add key="MeasurementSources.BeamGageShowGui" value="false" />
    <add key="MeasurementSources.BeamGageDataSource" value="" />
    <add key="MeasurementSources.BeamGagePowerMeter" value="" />
    <add key="MeasurementSources.BeamGageWaveLength" value="" />
    <add key="MeasurementSources.BeamGageTimestampStrategy" value="HostArrivalUtc" />
    <add key="MeasurementSources.BeamGageFrameTimeoutMs" value="3000" />
    <add key="MeasurementSources.BeamGagePollingFallbackEnabled" value="true" />
    <add key="MeasurementSources.BeamGagePollingFallbackIntervalMs" value="20" />
    <add key="MeasurementSources.BeamGageResetPowerEnergyCalibrationOnStart" value="false" />
    <add key="MeasurementSources.BeamGagePowerEnergyCalibrationValue" value="" />
    <add key="MeasurementSources.BeamGagePowerEnergyCalibrationUnitBase" value="" />
    <add key="MeasurementSources.BeamGagePowerEnergyCalibrationUnitQuantifier" value="" />
    <add key="MeasurementSources.BeamGageSmokeTestDurationMs" value="1500" />
    <add key="MeasurementSources.OphirSerialNumber" value="" />
    <add key="MeasurementSources.OphirPreferredChannel" value="" />
    <add key="MeasurementSources.OphirPollIntervalMs" value="50" />
    <add key="MeasurementSources.OphirTimestampStrategy" value="HostArrivalUtc" />
    <add key="MeasurementSources.OphirCaptureDirectory" value="" />
    <add key="MeasurementSources.OphirReplayPath" value="" />
    <add key="MeasurementSources.OphirReplaySpeedMultiplier" value="1" />
    <add key="MeasurementSources.OphirSmokeTestDurationMs" value="1500" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>
