<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="MeasurementSources.OphirSerialNumber" value="" />
    <add key="MeasurementSources.OphirPreferredChannel" value="" />
    <add key="MeasurementSources.OphirPollIntervalMs" value="50" />
    <add key="MeasurementSources.OphirTimestampStrategy" value="HostArrivalUtc" />
    <add key="MeasurementSources.OphirCaptureDirectory" value="" />
    <add key="MeasurementSources.OphirReplayPath" value="" />
    <add key="MeasurementSources.OphirReplaySpeedMultiplier" value="1" />
    <add key="MeasurementSources.OphirSmokeTestDurationMs" value="1500" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>
