<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="MeasurementSources.BeamGageInstanceId" value="LaserEnergyMonitor" />
    <add key="MeasurementSources.BeamGageShowGui" value="true" />
    <add key="MeasurementSources.BeamGageDataSource" value="" />
    <add key="MeasurementSources.BeamGageAllowBuiltInDataSources" value="true" />
    <add key="MeasurementSources.BeamGagePowerMeter" value="" />
    <add key="MeasurementSources.BeamGageWaveLength" value="" />
    <add key="MeasurementSources.BeamGageTimestampStrategy" value="HostArrivalUtc" />
    <add key="MeasurementSources.BeamGageFrameTimeoutMs" value="10000" />
    <add key="MeasurementSources.BeamGagePollingFallbackEnabled" value="true" />
    <add key="MeasurementSources.BeamGagePollingFallbackIntervalMs" value="50" />
    <add key="MeasurementSources.BeamGageResetPowerEnergyCalibrationOnStart" value="false" />
    <add key="MeasurementSources.BeamGagePowerEnergyCalibrationValue" value="" />
    <add key="MeasurementSources.BeamGagePowerEnergyCalibrationUnitBase" value="" />
    <add key="MeasurementSources.BeamGagePowerEnergyCalibrationUnitQuantifier" value="" />
    <add key="MeasurementSources.StarLabLogPath" value="" />
    <add key="MeasurementSources.StarLabLogEnergyColumn" value="Math M" />
    <add key="MeasurementSources.StarLabLogPollIntervalMs" value="1000" />
    <add key="MeasurementSources.StarLabLogStartAtEnd" value="true" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>